.content{
  background: #FFFFFF;
  border-radius: 14px;
  width: 1200px;
  margin: 75px auto;
}
.inner{
  padding: 0 200px;
}


article{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #606266;
}
.about-title{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 12px;
}
.concact{
  font-size: 14px;
  line-height: 20px;
  color: #606266;
  margin-bottom: 19px;
  width: 50%;
}
.info {
  display: flex;

}